/* color palette from <https://github.com/vuejs/theme> */
:root {
  --primary: #6D0F10;
  --third: #F5F5F5;  /* fond */
  --secondary: #333333;/* texte */
  --fourth:#777777;/* teste secondary */
  --five:#FFC107;/* couleur accentuation */

  --orange: #FF5F00;
  --grey: #EEEEEE;
  --greyD : #676375E0;
  --grey0 : #E5E5E5;
  --grey1 : #CCCCCC;
  --grey2 : #B2B2B2;
  --grey3 : #999999;
  --grey4 : #7F7F7F;

  --white: #fff;
  --wcard : 280px;
  --font-family-primary:"Helvetica Neue Bold";
  --font-weight-primary: 30px ;
  --font-secondary:"Helvetica Neue Medium" 24px ,sans-serif;
  --font-third:"Helvetica Neue Regular" 16px , sans-serif;

}